# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

#CocoaPods
Carthage.pkg
Carthage/Build
Carthage/
Cartfile.resolved
Example/Carthage.pkg

example_swift/pixlee_example/Podfile
example_swift/pixlee_example/Podfile.lock
example_swift/pixlee_example/Pods/**/*

Example/Carthage/Build
